@import "../lib/pagecut/editor.css";

.ProseMirror {
	white-space:normal;
}

/* replaced elements cannot have pseudo elements,
 * that is why we must define is for both cases */
.ProseMirror-selectednode {
	outline: 1px solid #61A3E4 !important;
	outline-offset: 0px !important;
	cursor: pointer !important;
	box-shadow: 0px 0px 0px 1px #61A3E4 !important;
	cursor:pointer !important;
}
.ProseMirror-selectednode:not(img) {
	min-width:1em;
}

/* replaced elements cannot have pseudo elements,
 * that is why we must define is for both cases */
[block-focused="last"] {
	outline: 1px dashed #888;
	outline-offset:-1px;
}
[block-focused="last"]:not(img) {
	min-width: 1em;
}
.ProseMirror *::selection {
	color:inherit;
}

::selection {
	background-color: #CCE2FF;
}

[contenteditable] .hidden[block-id] {
	display: block !important;
	opacity:0.5;
}

body[data-mode="code"] {
	font-family: sans;
	font-size: 0.7em;
}

body[data-mode="code"] * {
	padding:0;
	margin:0;
	line-height:10px !important;
	font-size:10px !important;
	font-style: normal !important;
	font-weight: normal !important;
}
body[data-mode="code"] [block-type]:not([element-type]) {
	margin:2px !important;
	padding:2px !important;
}
body[data-mode="code"] [block-type][element-type] {
	border: 1px solid rgba(0, 0, 0, 0.4) !important;
	border-radius: 3px !important;
	margin:2px !important;
	padding:2px !important;
	color: black !important;
	background-color: rgba(0, 0, 0, 0.02) !important;
	max-width: 100%;
}
body[data-mode="code"] [block-type][element-type="block"] {
	display: flex !important;
	flex-flow: row wrap;
}
body[data-mode="code"] [block-type]::before {
	content: attr(element-title);
	position: relative;
	font-size:1em !important;
	font-family:sans !important;
	font-weight:normal !important;
	font-style:normal !important;
	text-decoration:none !important;
	margin: 2px !important;
	flex-basis: 100%;
	z-index: 2;
	text-align: center;
}
body[data-mode="code"] [block-type][element-type="block"]::before {
	display:block;
}
body[data-mode="code"] [element-content] {
	/* border: 1px solid rgba(0, 0, 0, 0.4) !important; */
	border-radius: 3px !important;
	margin:2px !important;
	padding:2px !important;
	color: black !important;
	display: flex !important;
	flex-flow: row wrap;
	box-shadow: inset 0px 0px 1px 1px #0000001a;
}
body[data-mode="code"] {
	background-color:white;
}
body[data-mode="code"] [block-type]:not([block-id]) {
	flex-basis: 100%;
}
body[data-mode="code"] [block-type] > *:not([block-type]):not([element-content]) {
	display:none !important;
}

body[data-mode="code"] [block-type="_"] {
	display:none;
}

body[data-mode="code"] pagecut-placeholder:after {
	padding:0;
}