@import "../lib/pagecut/editor.css";

.ProseMirror {
	white-space:normal;
}

/* replaced elements cannot have pseudo elements,
 * that is why we must define is for both cases */
.ProseMirror .ProseMirror-selectednode {
	outline: 1px solid #61A3E4 !important;
	outline-offset: 0px !important;
	cursor: pointer !important;
	box-shadow: 0px 0px 0px 1px #61A3E4 !important;
	cursor:pointer !important;
}
.ProseMirror .ProseMirror-selectednode:not(img) {
	min-width:1em;
}

/* replaced elements cannot have pseudo elements,
 * that is why we must define is for both cases */
.ProseMirror [block-focused="last"] {
	outline: 1px dashed #888;
	outline-offset:-1px;
}
.ProseMirror [block-focused="last"]:not(img) {
	min-width: 1em;
}
.ProseMirror *::selection {
	color:inherit;
}

.ProseMirror.ProseMirror-alt [block-type]:after {
	pointer-events:none;
	content: attr(block-type);
	position: absolute;
	font-size: 0.7rem;
	color: #000;
	font-family: monospace;
	font-variant: none;
	font-style: normal;
	text-transform: none;
	text-shadow: 0 0 2px #FFF;
	overflow: visible;
	height: 0;
	width: 0;
	white-space: nowrap;
	opacity:0;
	transition:opacity 0.3s;
	transform:translateY(-2px);
}
.ProseMirror.ProseMirror-alt [block-type] {
	outline: 1px dashed #4183c4;
	outline-offset: -3px;
}

.ProseMirror.ProseMirror-alt [block-type]:hover {
	outline: 1px solid #4183f4;
}
.ProseMirror.ProseMirror-alt [block-type]:hover:after {
	opacity:1;
}

