@import url('../lib/editor.css');

@import url('../lib/menu.css');

[block-type="input_html"] .textarea {
	line-height: 1.2857;
	padding: 0.7857em 1em;
	color: #333;
	min-height: 5em;
	border: 1px solid gray;
}
[block-type="input_html"] .textarea + textarea {
	display:none;
}
.ProseMirror-menu {
	display:inline-flex;
	width:100%;
	background-color: #fff;
	margin:0;
	border: 1px solid gray;
	border-radius: 0.2em;
	color:#333;
	column-gap:0.2em;
}
.ProseMirror-menuitem {
	margin-right:0;
}
.ProseMirror-menuitem:last-of-type {
	flex: 1 0 auto;
}
.ProseMirror-icon {
	line-height:initial;
	vertical-align:initial;
	padding:0.3em 0.5em;
}
.ProseMirror-menuitem > form {
	display:none;
}
.ProseMirror-menuitem > form.ProseMirror-menu-active {
	display:inline-flex;
	flex: 1 0 auto;
}

.ProseMirror-menu > .ProseMirror-menuitem > form.prosemirror-dialog > input {
	padding: 0.25em;
	background: white;
	border: 1px solid lightgray;
}

.ProseMirror-menu > .ProseMirror-menuitem > form.prosemirror-dialog > input:invalid {
	background:lightcoral;
}
