[submodule "packages/elements-write"]
	path = packages/elements-write
	url = git@github.com:pageboard/elements-write
[submodule "packages/elements-mail"]
	path = packages/elements-mail
	url = git@github.com:pageboard/elements-mail
[submodule "packages/elements-semantic-ui"]
	path = packages/elements-semantic-ui
	url = git@github.com:pageboard/elements-semantic-ui
[submodule "packages/elements-google"]
	path = packages/elements-google
	url = git@github.com:pageboard/elements-google
[submodule "packages/elements-gallery"]
	path = packages/elements-gallery
	url = git@github.com:pageboard/elements-gallery
[submodule "packages/elements-calendar"]
	path = packages/elements-calendar
	url = git@github.com:pageboard/elements-calendar
