div[block-type="portfolio"] {
	display:flex;
	position:relative;
	flex-flow: row wrap;
	width: 100%;
	margin-left:-8px;
}

div[block-type="portfolio"] > div {
	position:relative;
	overflow:hidden;
	background-color:#EEE;
	flex:auto;
	width:25%;
	width:calc(25% - 8px);
	margin: 0 0 8px 8px;
}

@media screen and (max-width: 768px) {
	div[block-type="portfolio"] {
		margin-left:-6px;
	}
	div[block-type="portfolio"] > div {
		width:33.33%;
		width:calc(33.33% - 6px);
		margin: 0 0 6px 6px;
	}
}

@media screen and (max-width: 512px) {
	div[block-type="portfolio"] {
		margin-left:-4px;
	}
	div[block-type="portfolio"] > div {
		width:50%;
		width:calc(50% - 4px);
		margin: 0 0 4px 4px;
	}
}

@media screen and (max-width: 320px) {
	div[block-type="portfolio"] {
		margin-left:0;
	}
	div[block-type="portfolio"] > div {
		margin: 0 0 4px 0;
	}
}

@supports (display: grid) {
	div[block-type="portfolio"] {
		display: grid;
		position:relative;
		grid-gap: 8px;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-flow: row dense;
		margin-left:0;
	}

	div[block-type="portfolio"] > div {
		flex:none;
		margin: 0;
		width:100%;
		height:100%;
	}

	div[block-type="portfolio"] > div[data-scale-width="2"] {
		grid-column-end: span 2;
	}

	div[block-type="portfolio"] > div[data-scale-height="2"] {
		grid-row-end: span 2;
	}

	@media screen and (max-width: 768px) {
		div[block-type="portfolio"] {
			grid-gap: 6px;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media screen and (max-width: 512px) {
		div[block-type="portfolio"] {
			grid-gap: 4px;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (max-width: 320px) {
		div[block-type="portfolio"] {
			grid-gap: 4px 0;
			grid-template-columns: repeat(1, 1fr);
		}
	}
}



div[block-type="portfolio_item"] > .media {
	position:relative;
	width:100%;
	height:100%;
}
div[data-shape="tall"] > div[block-type="portfolio_item"]::after {
	content: '';
	margin-bottom: 33%;
	display: block;
}
div[data-shape="wide"] > div[block-type="portfolio_item"]::after {
	content: '';
	margin-bottom: -33%;
	display: block;
}

div[block-type="portfolio_item"] > .content {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
}

div[block-type="portfolio_item"]:hover > .content {
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
}

.ProseMirror div[block-type="portfolio_item"] > .content {
	pointer-events:none;
}
.ProseMirror div[block-type="portfolio_item"] > .content > * {
	pointer-events:auto;
}
