element-carousel {
	display:block; /* mandatory for custom elements */
	position:relative;
	width:100%;
}
element-carousel .flickity-page-dots li.dot {
	pointer-events:auto; /* workaround prosemirror.css <= 0.24 style */
}
element-carousel .flickity-page-dots .dot {
	box-shadow: 0 0 3px white;
}
.inverted element-carousel-cell {
	background:transparent;
}
.inverted element-carousel .flickity-page-dots .dot {
	background:#CCC;
}

element-carousel-cell {
	display:block;
	background: #F3F3F3;
	overflow:hidden;
}
element-carousel .flickity-page-dots .dot {
	box-shadow: 0 0 3px white;
}

element-carousel element-carousel-cell {
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	height:100%;
}

