element-gallery {
	display:block;
	position:relative;
}
element-gallery > .menu {
	position:absolute;
	right:0;
	top:-3.1em;
}
i.portfolio.icon:before {
	content:'P';
}
i.medialist.icon:before {
	content:'L';
}
i.carousel.icon:before {
	content:'C';
}
