element-portfolio {
	display:block; /* mandatory for custom elements */
	position:relative;
	margin-right:-0.75%;
	margin-bottom:-0.75%;
	overflow:hidden;
/*	width:100%;*/
}
element-portfolio > .cells > .item {
	width:24.25%;
	margin-right:0.75%;
	margin-bottom:0.75%;
}
element-portfolio > .cells > .item[data-scale-width="2"] {
	width:49.25%;
}

element-portfolio[data-shape="wide"] {
	margin-right:-1%;
	margin-bottom:-1%;
}
element-portfolio[data-shape="wide"] > .cells > .item {
	width:32.33%;
	margin-right:1%;
	margin-bottom:1%;
}
element-portfolio[data-shape="wide"] > .cells > .item[data-scale-width="2"] {
	width:65.66%;
}

@media screen and (max-width: 768px) {
	element-portfolio {
		margin-right:-1%;
		margin-bottom:-1%;
	}
	element-portfolio > .cells > .item {
		width:32.33%;
		margin-right:1%;
		margin-bottom:1%;
	}
	element-portfolio > .cells > .item[data-scale-width="2"] {
		width:65.66%;
	}
}

@media screen and (max-width: 512px) {
	element-portfolio > .cells > .item,
	element-portfolio[data-shape="wide"] > .cells > .item {
		width:100%;
	}
	element-portfolio > .cells > .item[data-scale-width="2"],
	element-portfolio[data-shape="wide"] > .cells > .item[data-scale-width="2"] {
		width:100%;
	}
}

element-portfolio-image {
	display:block;
	position:relative;
}

element-portfolio-image > img {
	display:block;
	max-width:100%;
	max-height:100%;
}

element-portfolio > .cells > .item > element-portfolio-image {
	min-height:5em; /* editor */
}
element-portfolio > .cells > .item > element-portfolio-image > img {
	display:block;
	width:100%;
}

element-portfolio > .cells > .item > .content {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
element-portfolio > .articles > .item > .content {
	position:relative;
}

element-portfolio > .cells > .item > .content > [block-content="cell"] {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	visibility:hidden;
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
}
element-portfolio > .cells > .item > .content > [block-content="cell"] {
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	text-align:center;
}
element-portfolio > .cells > .item:hover > .content > [block-content="cell"],
element-portfolio > .cells > .item[block-focused] > .content > [block-content="cell"] {
	visibility:visible;
}

element-portfolio > .cells > .item > .content > .article,
element-portfolio > .articles > .item > .content > .cell {
	display:none;
}
element-portfolio > .articles > .item > .content > .article {
	display:block;
}
element-portfolio > .articles > .item {
	display:flex;
}
element-portfolio > .articles > .item > element-portfolio-image {
	flex: 4 1;
}
element-portfolio > .articles > .item > .content {
	flex: 8 0.5;
}
element-portfolio.carousel {
	position:fixed;
	display:block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	background:rgba(0, 0, 0, 0.9);
	margin:0;
}
element-portfolio.carousel > element-carousel .cell {
	display:block;
	height:100vh;
	width:100vw;
	background:transparent;
}
element-portfolio.carousel > element-carousel .cell > element-portfolio-image {
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
}
element-portfolio.carousel > element-carousel .cell > element-portfolio-image > img {
	display:block;
	margin:0 auto;
}
element-portfolio.carousel > [block-content="items"],
element-portfolio.carousel > .menu > .item[data-mode],
element-portfolio > .menu > .item[data-mode="carousel"] {
	display:none !important;
}
element-portfolio.carousel > .menu > .item[data-mode="carousel"] {
	display:block !important;
}
element-portfolio.carousel > .menu {
	position:absolute;
	right:0;
	top:0;
	z-index:1;
}

i.grid.icon:before {
	content:'G';
}
i.list.icon:before {
	content:'L';
}
i.close.icon:before {
	content:'X';
}
