element-portfolio {
	display:block; /* mandatory for custom elements */
	position:relative;
}
element-portfolio > .item {
	position:relative;
	overflow:hidden;
}
element-portfolio > .item {
	width:25%;
}
element-portfolio > .item.large {
	width:50%;
}

element-portfolio.gutter {
	margin-right:-10px;
	margin-bottom:-10px;
}
element-portfolio.gutter > .item {
	margin-bottom:10px;
}
element-portfolio.gutter > .item {
	width:calc(25% - 10px);
}
element-portfolio.gutter > .item.large {
	width:calc(50% - 10px); /* mind the gap, see just below */
}
element-portfolio.gutter > .item.large > .image > img {
	margin-top:-2px;
	margin-bottom:-3px;
}
element-portfolio.gutter > .item.high > .image > img {
	margin-top:0;
	margin-bottom:0;
}

@media screen and (max-width: 768px) {
	element-portfolio > .item {
		width:33.33%;
	}
	element-portfolio > .item.large {
		width:66.66%;
	}
	element-portfolio.gutter > .item {
		width:calc(33.33% - 10px);
	}
	element-portfolio.gutter > .item.large {
		width:calc(66.66% - 10px);
	}
	element-portfolio.gutter > .item.high.large {
		width:calc(66.66% - 6px);
	}
}

element-portfolio > .item > .image {
	min-height:1em;
}
element-portfolio > .item > .image > img {
	width:100%;
	max-height:auto;
	margin:0 auto;
	display:block;
}

element-portfolio > .item > [block-content="cell"] {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	visibility:hidden;
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
}
element-portfolio > .item > [block-content="cell"] {
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	text-align:center;
}
element-portfolio > .item:hover > [block-content="cell"],
element-portfolio > .item[block-focused] > [block-content="cell"] {
	visibility:visible;
}

/* quand on définit un portfolio, on doit préciser la hauteur d'une row,
et tout le reste en découle. */
