input-map {
	display:block;
}
.field.href .ui.avatar.icon.image {
	width: 16px;
	height: 16px;
	right: 0;
	position: absolute;
	border-radius: 0;
	bottom: 0;
	opacity: 0.7;
	margin: 0;
}

.field.href .items .button.circular {
	visibility:hidden; /* so .item height won't change when .button is shown */
	padding:0.2em;
	color:#4165A0;
	border-color:#4165A0;
	background:transparent;
}

.field.href .items .pinned.right {
	position:absolute;
	right:1px;
	top:1px;
	margin-right:0;
}

.field.href .items > .item:hover .button.circular,
.field.href .items > .item:focus .button.circular {
	visibility:visible;
}

.field.href .items > .item.selected > .content .button.circular {
	color: white;
	visibility: visible;
}

.field.href .items.icon {
	display:flex;
	flex-wrap:wrap;
	background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
	background-size: 34px 34px;
	background-position: 0 0, 0 17px, 17px -17px, -17px 0px;
	background-color: #CCC;
}
.field.href .items.icon > .item {
	flex: 1;
	width:31%;
}

.field.href .items > .item > .content {
	position:relative; /* for positioning the absolute icon on the right */
	max-width:100%;
	border-top:1px solid #999;
	overflow:hidden;
}

.field.href .items > .item > .content > .header {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #777;
	display:block;
	padding: 0.2em 0.5em;
	padding-top:0.32em;
	margin:0;
}
.field.href.page-href .items > .item > .content > .header {
	white-space: normal;
}
.field.href.page-href .items > .item > .content {
	max-height:none;
}
.href .field.href.page-href input-map,
.href .field.href.page-href .input + label {
	display:none;
}

.field.href .items > .item > .content > .meta {
	margin-top:0.15em;
	margin-bottom:0.15em;
	padding-left:0.5em;
	/* let div.meta grow with its content */
	position:relative;
	overflow:hidden;
	padding-right:75px;
}
.field.href .items > .item > .content > .meta > .line {
	display:inline-block;
	font-family:sans-serif;
	font-size:0.7em;
	line-height:1em;
	margin-top:0.15em;
}

.field.href .items > a.item > .content > .header {
	color:#555;
	background-color:#FCFCFC;
	border-bottom:1px solid #999;
	padding-right:1.7em; /* leave space for pinned right button */
	border-right: 1px solid #999;
}

.field.href .items > .item > .content > .thumbnail {
	display:flex;
	align-items: center;
	justify-content: center;
	position:absolute;
	right:0;
	width:80px;
	height:3.33em;
	overflow:hidden;
}

.field.href .items > .item.selected > .content > .header,
.field.href.page-href .items > .item:hover > .content > .header {
	background-color: #4165A0;
	border-bottom:1px solid #4165A0;
	color:white;
}

.field.href .items {
	box-shadow:inset 0px 0px 200px #DDD, 0px -18px 90px #CCC;
	margin-top:1em;
}

.field.href .items > .item {
	margin:0;
	/* box-shadow:2px 2px 1px #CCC; */
	/* background: white; */
}

.field.href .items:empty {
	display:none;
}

.field.href .search + .buttons > .button:first-child {
	margin-right:0;
	border-top-left-radius:0 !important;
	border-bottom-left-radius:0 !important;
}

.field.href .search + .buttons > .button + .button {
	opacity:0.95;
}

.field.href .search + .buttons > .button + .button + .button {
	opacity:0.9;
}

.field.href .search {
	width:100%; /* this fixes the default size of 20 chars */
	border-top-right-radius:0 !important;
	border-bottom-right-radius:0 !important;
}

.href > .form > form:not(.href) {
	display:none;
}
.href > .form {
	height:100%;
}
.href > .form > form.href > :not(.href) {
	display:none;
}


.field.href > .items.icon .content img {
	height: auto;
	width: auto;
	max-height: calc(100% - 1.8em);
	max-width: 100%;
}

#form .field.href input[type="text"] {
	width: auto;
}