element-share svg {
	width: 24px;
}
element-share > .ui.simple.dropdown > .title {
	display: inline;
}
element-share svg {
	display:inline-block;
	top:calc(1em - 6px);
	position:relative;
	width: 24px;
	opacity:0.6;
}
element-share > .ui.simple.dropdown:hover > .title > svg,
element-share *:hover > svg {
	opacity:1;
}


element-share > .ui.simple.dropdown:hover > .list {
	top: 0 !important;
	left: 100% !important;
	position:static;
	display: inline-block;
	padding-right:0.5em;
	padding-left:0.5em;
}
element-share .ui.dropdown .list > .item {
	display:inline-block;
	padding-left:0.2em;
	padding-right:0.2em;
}
element-share .ui.dropdown > .list {
	display:none;
}
