.page-sheet {
	position:relative;
	page-break-after: always;
}

@media screen {
	body + a {
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		position: fixed;
		background: white;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		text-align: center;
		color: black;
		font-size: 2rem;
		padding: 0rem 1rem 0.5rem;
		box-shadow: rgb(0 0 0 / 20%) 0px 0.2em 0.5em -0.1em;
		z-index: 1;
		font-weight: bold;
	}
}

@media print {
	body + a {
		display:none;
	}
}
