html {
	width: 1190px;  /* this is 21cm at 144dpi - DO NOT CHANGE, EVER */
	margin: 0;
}
.page-break {
	page-break-after: always;
}
.page-nobreak {
	page-break-inside: avoid;
}
.page-sheet {
	-webkit-margin-collapse: separate;
	page-break-inside: avoid;
	height: calc(1683px - 0px); /* 1683 is 29.7cm at 144dpi */
	margin:0;
}

