.page-sheet {
	position:relative;
	page-break-after: always;
}

@media screen {
	body + div.pdf-menu {
		top: 0%;
		left: 0%;
		position: fixed;
		margin:0.2em;
		font-size: 2rem;
	}
	body + div.pdf-menu > a {
		color: black;
		opacity:0.9;
		margin:0.2em;
		background: white;
		border-radius: 0.5em;
		text-align: center;
		padding: 0rem 1rem 0.5rem;
		box-shadow: rgb(0 0 0 / 20%) 0px 0.2em 0.5em -0.1em;
		z-index: 1;
	}
	body + div.pdf-menu > a:visited {
		color:black;
	}
}

@media print {
	body + div.pdf-menu {
		display:none;
	}
}
