label.checkbox {
	cursor: pointer;
	line-height: 1.47em;
}
label.checkbox > input:is([type="radio"],[type="checkbox"]) {
	position: absolute;
	width:1em;
	height:1em;
	opacity: 0;
	cursor:inherit;
}
label.checkbox > input + *::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid currentcolor;
	margin-right: 0.3em;
	margin-left:0.3em;
	background-repeat:no-repeat;
	background-position: center;
	position: relative;
	top: 0.15em;
}
fieldset > legend > label.checkbox > input[type="checkbox"] + *::before {
	margin-left:0;
}
label.checkbox > input[type="checkbox"] + *::before {
	margin-top: -0.15em;
}
label.checkbox > input[type="radio"] + *::before {
	border-radius: 50%;
}
label.checkbox.item > input + *::before {
	content: none;
}

label.checkbox.item > input:checked + * {
	background-color: rgb(129 165 255 / 80%);
}

label.checkbox > input[type="radio"]:checked + *::before {
	background-image: radial-gradient(currentcolor 0%, currentcolor 30%, transparent 40%, transparent);
}

label.checkbox > input[type="checkbox"]:checked + *::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M1.73 12.91l6.37 6.37L22.79 4.59" fill="none" stroke="currentcolor" stroke-width="3"/></svg>');
}
label.checkbox > input[type="checkbox"]:indeterminate + *::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2 12L22 12" fill="none" stroke="currentcolor" stroke-width="3"/></svg>');
}

label.checkbox > input:focus + *::before {
	border-width: 2px;
}
label.checkbox > input:disabled + *::before,
label.checkbox > input:disabled + * {
	opacity:0.5;
}
label.checkbox.toggle > input {
	appearance: none;
	opacity:1;
	width: 2.2em;
	position: relative;
}
label.checkbox.toggle > input + *::before {
	content:none;
}
label.checkbox.toggle > input::before {
	content:'';
	background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><path d="M0.5,0.5 h1" stroke-linecap="round" stroke="%23CCC" /></svg>');
	background-repeat: no-repeat;
	background-size: 2em;
	line-height: 1.4;
	background-position-y: center;
	width: 2em;
	display: block;
	height: 1.1em;
	position: absolute;
}

label.checkbox.toggle > input:checked::before {
	background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><path d="M0.5,0.5 h1" stroke-linecap="round" stroke="%234183C4" /></svg>');
}

label.checkbox.toggle > input::after {
	position: relative;
	content: '';
	background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path d="M0.5,0.5 h0" stroke-linecap="round" stroke="%23EEE" stroke-width="0.8" /></svg>');
	background-repeat: no-repeat;
	padding-left: 1em;
	background-size: 1em;
	background-position-y:center;
	transition: 0.4s;
	left: 0;
}

label.checkbox.toggle > input:focus::after {
	border-color:currentcolor;
}

label.checkbox.toggle > input:checked::after {
	background-blend-mode: screen;
	left: 1em;
}
label.checkbox.toggle > input:indeterminate::after {
	background-image:none;
}
