@import url("../lib/pagecut/editor.css");

/* replaced elements cannot have pseudo elements,
 * that is why we must define is for both cases */

li.ProseMirror-selectednode {
	outline: none !important;
	box-shadow:none !important;
}
li.ProseMirror-selectednode::after {
	outline: 2px solid rgb(121 153 238 / 60%) !important;
	outline-offset: -1px !important;
	border:none;
	left: -2em;
	right: 0;
	top: 0;
	bottom: 0;
}
.ProseMirror-selectednode:not(img) {
	min-width:1em;
}

/* replaced elements cannot have pseudo elements,
 * that is why we must define is for both cases */
[block-focused="last"] {
	outline: 2px dashed rgb(97 163 228 / 50%) !important;
	outline-offset:-1px !important;
}
.ProseMirror-selectednode {
	outline: 2px solid rgb(121 153 238 / 60%) !important;
	outline-offset: -1px !important;
	cursor: pointer !important;
	box-shadow: 0 0 0 1px rgb(97 163 228) !important;
}
[block-focused="last"]:not(img) {
	min-width: 1em;
}
.ProseMirror *::selection {
	color:inherit;
}

::selection {
	background-color: #cce2ff;
}

[contenteditable] .hidden[block-id] {
	display: block !important;
	opacity:0.5;
}

body[data-mode="code"] {
	font-family: sans-serif;
	font-size: 0.7em;
	background-color:white;
}

body[data-mode="code"] * {
	all: unset;
	padding:0;
	line-height:10px !important;
	font-size:10px !important;
	font-style: normal !important;
	font-weight: normal !important;
}
body[data-mode="code"] img {
	max-width:16px !important;
}
body[data-mode="code"] [block-type]:not([element-type]) {
	margin:2px !important;
	padding:2px !important;
}
body[data-mode="code"] [block-type][element-type] {
	border: 1px solid rgb(0 0 0 / 40%) !important;
	border-radius: 3px !important;
	margin: 2px !important;
	color: black !important;
	background-color: rgb(0 0 0 / 2%) !important;
	max-width: 100%;
}
body[data-mode="code"] [block-type][element-type="block"] {
	display: flex !important;
	position:relative !important;
	flex-flow: row wrap;
	border-right: 2px solid #999 !important;
	border-bottom: 2px solid #888 !important;
	border-bottom-right-radius: 0 !important;
	border-top-color: #BBB !important;
	border-left-color: #AAA !important;
	width: auto !important;
	height: auto !important;
}
body[data-mode="code"] [block-type]::before {
	content: attr(element-title);
	position: relative;
	font-size:1em !important;
	font-family: sans-serif !important;
	font-style:normal !important;
	text-decoration:none !important;
	z-index: 2;
	text-align: center;
	padding-left: 2px;
	align-self: center;
	padding-right: 2px;
	box-shadow: none;
	color: #4183c4;
	font-weight: bold;
}

body[data-mode="code"] [element-content],
body[data-mode="code"] [block-content] {
	border-radius: 3px !important;
	margin:2px !important;
	padding:2px !important;
	color: black !important;
	display: flex !important;
	flex-flow: row wrap;
	box-shadow: inset 0 0 1px 1px #0000001a;
	background-color:inherit;
}

body[data-mode="code"] [block-type]:not([block-id]) {
	flex-basis: 100%;
}
body[data-mode="code"] [block-type] > *:not([block-type], [element-content], [block-content]) {
	display:none !important;
}

body[data-mode="code"] [block-type="_"] {
	display:none;
}

body[data-mode="code"] element-template > [block-content="template"] {
	display:block !important;
}

body[data-mode="code"] pagecut-placeholder::after {
	padding:0;
}
