#menu > .menu:empty {
	display:none;
}

#menu {
	margin-top:1em;
	margin-bottom: 1em;
}
#menu .ui.icon.menu .active.item {
	background-color: rgb(129 165 255 / 30%);
}
#menu .ui.menu .item.has-active {
	background-color: rgb(129 165 255 / 20%);
}
#menu .popup {
	display:none;
	z-index:1;
}
#menu .ui.menu {
	position:relative;
}
#menu .ui.menu > .item:hover + .popup,
#menu .ui.menu > .item + .popup:hover {
	display:block;
	position:absolute;
	top:100%;
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
	background-color:rgb(129 165 255 / 10%);
}
.ui.icon.menu > .item.radio.checkbox.checked {
	background-color:rgb(129 165 255 / 20%);
}
#menu .ui.labeled.icon.menu .item {
	padding: 0.5em 0.6em 0.3em;
	border-radius: 0;
	width: auto;
	min-width: 0;
	justify-content: space-around;
}
#menu .ui.menu:not(.vertical) .item {
	padding: 0.6em 0.7em;
}
.ui.menu {
	flex-wrap:wrap;
}
#menu .ui.tabular.mini.menu {
	min-height:2.4em;
}
#menu .ui.tabular.mini.menu > .item {
	padding:0 0.8em;
	z-index: 1;
}
#menu .ui.tab.menu.active {
	display:flex;
}
#menu .ui.attached.tab.menu {
	margin:0;
	width:100%;
}
#menu .item > img:not(.ui) {
	width:1.5em;
}
#menu .item::before {
	display:none;
}
#menu .divider {
	width:1px;
	background-color:#353535;
}
#menu .menu .item.disabled {
	opacity:0.5;
}
#menu .tabular.menu .item.disabled {
	display:none;
}

.ui.icon.menu > .item.radio.checkbox > input,
.ui.icon.menu > .item.radio.checkbox > label::before,
.ui.icon.menu > .item.radio.checkbox > label::after {
	display:none;
}
.ui.icon.menu > .item.radio.checkbox > label {
	padding-left:0;
}
#move {
	margin-top:0.5em;
}
#move.inline > .item {
	display:none;
}
/* TODO remove me with fomantic 2.7.2 */
.ui.inverted.menu .item.disabled, .ui.inverted.menu .item.disabled:hover {
	color: rgb(225 225 225 / 30%) !important;
}
.ui.menu > .item.disabled,
.ui.menu > .item.disabled:hover {
	color:inherit;
	cursor:pointer;
}

.ui.compact.icon.menu > .ui.radio.checkbox.item {
	padding: 0;
}
.ui.compact.icon.menu > .ui.radio.checkbox.item > span {
	padding: 0.7em;
	display: inline-block;
	height: 100%;
}

#move > .right.menu > .item {
	padding: 0 1em;
}

#store .item[data-command="view"] > .hide.icon,
#store .item.active[data-command="view"] > .unhide.icon {
	display:none;
}
#store .item.active[data-command="view"] > .hide.icon {
	display:block;
}

.ui.labeled.icon.menu .item > i.icons {
	height: 1em;
	display: block;
	font-size: 1.7143em !important;
	margin: 0em auto 0.5rem !important;
}
.ui.labeled.icon.menu .item > i.small {
	font-size: 1.7143em !important;
}
.ui.labeled.icon.menu .item > i.icons > .corner.icon {
	font-size:0.55em;
}
.ui.compact.icon.menu {
	min-height: 2.4em;
	flex-wrap:nowrap;
}
