html,
body {
	height: 100%;
}

.hidden,
[hidden] {
	display:none !important;
}

body {
	display:flex;
	flex-direction: row;
}

#pageboard-read {
	flex: 0 1 auto;
	box-shadow:0 0 1em grey;
}
#pageboard-read > iframe {
	border:0;
	width:70vw;
	min-width:320px;
	max-width:70vw;
	height:100%;
	display:block;
	overflow:auto;
}
#pageboard-write {
	flex: 1 1 auto;
	min-width:300px;
	margin-top:0 !important;
	padding-top:0 !important;
	user-select: none;
	overflow-y: auto;
}
#pageboard-write.loading > [id] {
	display:none;
}
body[data-mode="read"] {
	flex-direction: column-reverse;
}
body[data-mode="read"] #pageboard-read {
	flex: 1 1 auto;
}
body[data-mode="read"] #pageboard-write {
	position:relative;
	top:0;
	min-width:auto;
	width: 100%;
	flex: 0 1 auto;
	padding-bottom:0;
	margin-bottom: 0;
}
body[data-mode="read"][data-scroll-over-top="false"] #pageboard-write {
	transform: translateY(-100%);
}
body[data-mode="read"][data-scroll-over-top="true"] #pageboard-write {
	transform: translateY(0);
}
body[data-mode="read"] #pageboard-write > :not(#store) {
	display:none;
}
#store {
	border-radius: 0;
}
body[data-mode="read"] #pageboard-write > #store {
	margin-bottom:0 !important;
}
body[data-mode="read"] #store > .icon.menu > :not(#auth),
body[data-mode="write"] #store > .text.menu,
body[data-mode="code"] #store > .text.menu,
body[data-mode="read"] #mode [data-command="read"],
body[data-mode="read"] #mode [data-command="code"],
body[data-mode="code"] #mode [data-command="code"],
body[data-mode="write"] #mode [data-command="write"] {
	display:none !important;
}

body[data-mode="read"] #pageboard-read > iframe {
	max-width:100vw;
	width:100vw;
}

.notifications {
	max-height:66%;
	margin-bottom:0;
	padding-left:0.1rem;
	padding-right:0.1rem;
}
.notifications:empty {
	display:none;
}
.notifications .message:nth-last-child(n+4) {
	display:none;
}
.notifications .message > p {
	display:none;
}
.notifications .message:last-child > p {
	display:block;
}
#pageboard-read > .notifications.wide {
	margin-left:0 !important;
	margin-right:0 !important;
}
#breadcrumb {
	line-height: 1.4; /* prettier multiple lines */
	margin: 0;
	background: #555;
	color: white;
	padding: 0.35em 0.5em;
	min-height: 0;
	border-top: 1px solid #666;
	text-align: right;
	font-size: 1.1rem;
	max-width: 100%;
}
#breadcrumb > ul {
	text-align:left;
}
.ui.breadcrumb .divider {
	color:white;
	margin:0;
}
.ui.breadcrumb > span > a {
	color:white;
}
.ui.breadcrumb > span > a.active,
.ui.breadcrumb > span > a:hover {
	color: rgb(129 165 255);
}
#breadcrumb:empty {
	display:none;
}

#breadcrumb > span:last-child > .divider {
	display:none;
}
#form {
	margin-top:1em;
	padding-left:0.5em;
}

.wide {
	margin: 0 -1rem 1rem !important;
}
.wide.bottom {
	margin-bottom: 0.1rem !important;
	width:100%;
}

.ui .left.icon {
	left:0;
	right:auto;
}

.ui.range {
	height:auto;
	padding: 0.6786em 1em; /* this is the padding value of .field */
}

.ui.form .field {
	margin: 0.5em 0 0 0;
}
.ui.form .inline.fields {
	margin-bottom:0;
}

.ui.form .nullable.fieldset {
	margin-top: 0.5em;
}
.ui.form .nullable.fieldset:last-child {
	margin-bottom:0;
}

.ui.form .inline.field,
.ui.form .inline.fields {
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	align-items: baseline;
}
#form fieldset > .inline.fields:last-child {
	margin-bottom:0;
}
#form .nullable.fieldset {
	position:relative;
}
#form .nullable.fieldset > .nullable {
	position:absolute;
	left: 0;
	z-index: 1;
}
#form .nullable.fieldset > fieldset > legend {
	margin-left: -0.9em;
}

#form fieldset:disabled {
	border-bottom:0;
	border-right:0;
	border-left:0;
	opacity:1;
	pointer-events: auto;
	padding-bottom: 0;
	padding-top: 0;
}
#form fieldset:disabled > :not(legend) {
	display:none;
}

#form .inline.fields .field {
	padding:0;
	margin-top: 0;
}
#form .inline.fields {
	margin-top: 0.5em;
}
#form .field > label {
	margin-bottom:0;
}

#form .inline.fields > label {
	width: 50%;
	margin-right: 0;
}
#form .inline.fields > label + .field {
	width: 50%;
}

#form .inline.fields .field > .radio,
#form .inline.fields .field > .toggle {
	margin: 0 0.2em;
	display: block;
	text-align: left;
}
#form .inline.fields .inline.field > .radio {
	display:inline-block;
}

#form .flex.field {
	display:flex;
	align-items:baseline;
}
#form .flex.field > label,
#form .flex.field > .dropdown {
	flex: 1 1 auto;
}
#form .flex.field > .selection.dropdown {
	width:auto;
}
#form .ui.radio.checkbox .box,
#form .ui.radio.checkbox label {
	padding-left:1.6571em;
}

#form .ui.icon.menu .ui.item.radio.checkbox label {
	padding-left:0;
}
#form .table.compact td {
	padding:0;
}
#form .table.compact td input {
	border: 0;
}
#form .field > select {
	font-size:0.9rem;
	padding:0.4em;
	width:50%;
}
#form .ui.dropdown .menu > .item {
	font-size:0.9rem;
}

#form input[is="input-map"] + table {
	margin-top:0;
}

#form > form {
	margin-top:1em;
}
.ui.form .field > textarea {
	height:6em;
	min-height:6em;
}

.ui.toggle.checkbox {
	vertical-align:middle;
}
.ui.toggle.checkbox .box {
	padding-left:2.3em; /* compensate absolute inner width, see below */
}
.ui.toggle.checkbox label {
	padding-left: 3em;
}

.ui.toggle.checkbox .box:hover::before,
.ui.toggle.checkbox label:hover::before {
	background-color: rgb(0 0 0 / 40%);
}
.ui.toggle.checkbox .box::before,
.ui.toggle.checkbox label::before {
	background-color: rgb(0 0 0 / 20%);
	top:0.25rem;
	width:2.3rem;
	height:1rem;
}

#share .ui.toggle.checkbox.disabled label::before,
#share .ui.toggle.checkbox.disabled label::after {
	display:none;
}
#share .ui.toggle.checkbox.disabled label {
	padding-left:0;
	opacity:1;
}
.ui.toggle.checkbox.disabled .box:hover::before,
.ui.toggle.checkbox.disabled label:hover::before {
	background-color: rgb(0 0 0 / 20%);
}

.ui.toggle.checkbox input ~ .box::after,
.ui.toggle.checkbox input ~ label::after,
.ui.toggle.checkbox input:checked ~ .box::after,
.ui.toggle.checkbox input:checked ~ label::after {
	box-shadow:
		rgb(34 36 38 / 15%) 0 1px 2px 0,
		rgb(34 36 38 / 15%) 0 0 0 1px inset;
}
.ui.toggle.checkbox input:checked ~ .box::after,
.ui.toggle.checkbox input:checked ~ label::after {
	left:0.8rem;
}

#share > .ancestor,
#share > .descendant {
	display:none;
}
#share.standalone-no,
#share.standalone-ancestor > .checkbox,
#share.standalone-descendant > .checkbox {
	display:none;
}
#share.standalone-ancestor > .ancestor,
#share.standalone-descendant > .descendant {
	display:block;
}

#form input[type="number"],
#form input[type="text"] {
	padding: 0.3em;
	line-height: 1.3em;
	width: 100%;
}
#form input[type="number"] {
	width: 50%;
}

#move .ui.toggle.checkbox > label {
	font-size: 0.8em;
	padding-left: 3.2em;
}
#store .item {
	transition: color 0.1s linear;
}
#store.waiting .item {
	color:grey !important;
}
#store [data-command="write"] i.icon {
	transition:transform 1s linear;
}
#store.waiting [data-command="write"] i.icon {
	transform: rotate(-45deg);
}
.ui.blue.buttons .button, .ui.blue.button {
	background-color: #4165A0;
}