.ui.form .color.field {
	display:inline-flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.ui.form .color.field input {
	flex: 1 0 auto;
	width: auto;
}
.ui.form .color.field input[type="text"] {
	max-width:30%;
}
.ui.form .color.field input[type="color"] {
	max-width: 2.5em;
}
.ui.form .color.field input[type="range"] {
	max-width: 30%;
	padding: 0;
}