#form fieldset.crop {
	position:relative;
}
#form fieldset.crop > .field {
	display:none !important;
}
#form fieldset.crop > .crop {
	position:relative;
	width: calc(100% + 1em);
	margin-top: 0.6em;
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.crop > img {
	max-width:100%;
}
.crop > .slider {
	margin:0 0.2em;
	width:auto;
	text-align:left;
	line-height:1.6em;
}

.crop > .slider > .values {
	height:auto;
	max-height: 2em !important;
	min-height: 0 !important;
	font-size: smaller;
	font-family: monospace;
	overflow:hidden;
	margin-top:0.2em;
	padding:0;
	border:0;
	width:100%;
	line-height:1.1em;
	resize:none;
}
.crop > .slider > .button {
	float:right;
	margin-right:0;
}
.crop > .bottom-buttons {
	position:relative;
	height:0;
	overflow:visible;
}
.crop > .bottom-buttons > .button {
	position:absolute;
	bottom:0;
}
.crop > .bottom-buttons > .out.button {
	right:0;
}
.crop > .bottom-buttons > .in.button {
	right:3em;
}


/*************************************/
/***** STYLING RANGE INPUT ***********/
/*************************************/
/*http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
/*************************************/

input[type="range"] {
	appearance: none; /* removes default webkit styles */
	width: 100%;
	/* required for proper track sizing in FF */
	max-width: 100%;
	padding-top: 0.8em;
	padding-bottom: 0.3em;
	background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	background: rgb(0 0 0 / 50%);
	border: 0;
	border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ddd;
	margin-top: -6px;
}

input[type="range"]:focus {
	outline: none;
}
/*
.cr-slider:focus::-webkit-slider-runnable-track {
background: #ccc;
}
*/

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 3px;
	background: rgb(0 0 0 / 50%);
	border: 0;
	border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ddd;
	margin-top: -6px;
}

/*hide the outline behind the border*/
input[type="range"]:-moz-focusring {
	outline: 1px solid white;
	outline-offset: -1px;
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 5px;
	/* using ms-fill-lower and ms-fill-upper below */
	background: transparent;
	/* leave room for the larger thumb to overflow with a transparent border */
	border-color: transparent;
	border-width: 6px 0;
	/* remove default tick marks */
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: rgb(0 0 0 / 50%);
	border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
	background: rgb(0 0 0 / 50%);
	border-radius: 10px;
}
input[type="range"]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ddd;
	margin-top:1px;
}
input[type="range"]:focus::-ms-fill-lower {
	background: rgb(0 0 0 / 50%);
}
input[type="range"]:focus::-ms-fill-upper {
	background: rgb(0 0 0 / 50%);
}
