.field.href .ui.avatar.icon.image {
	width: 16px;
	height: 16px;
	right: 0;
	position: absolute;
	border-radius: 0;
	bottom: 0;
	opacity: 0.7;
	margin: 0;
}

.field.href .items .button.circular {
	visibility:hidden; /* so .item height won't change when .button is shown */
	padding:0.2em;
	color:#4165A0;
	border-color:#4165A0;
	background:transparent;
}

.field.href .items .pinned.right {
	position:absolute;
	right:2px;
	top: 2px;
	margin-right:0;
}

.field.href .items > .item:hover .button.circular,
.field.href .items > .item:focus .button.circular {
	visibility:visible;
}

.field.href .items > .item.selected > .content .button.circular {
	color: white;
	visibility: visible;
}

.field.href .items.icon {
	display:flex;
	flex-flow: row wrap;
}
.field.href .items.icon > .item {
	flex: 1;
	width:31%;
	background-image:
		linear-gradient(45deg, #808080 25%, transparent 25%),
		linear-gradient(-45deg, #808080 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #808080 75%),
		linear-gradient(-45deg, transparent 75%, #808080 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
	background-color: #CCC;
	margin-right: 4px;
}

.field.href .buttons > [data-action="stop"] {
	display: none;
}
.href .field.href .buttons > [data-action="stop"] {
	display:block;
}
.href .field.href .buttons > [data-action="upload"] {
	display:none;
}

.field.href .buttons > .button {
	border-top-right-radius: 0.2857rem;
	border-bottom-right-radius: 0.2857rem;
}

.field.href .items > .item > .content {
	position:relative; /* for positioning the absolute icon on the right */
	max-width:100%;
	overflow:hidden;
}

.field.href .items > .item > .content > .header {
	color: #777;
	display:block;
	padding: 0.2em 0.5em;
	padding-top:0.32em;
	margin:0;
}
.field.href.page-href .items > .item > .content > .header {
	white-space: normal;
}
.field.href.page-href .items > .item > .content {
	max-height:none;
}
.href .field.href.page-href .input + label {
	display:none;
}

.field.href .items > .item > .content > .meta {
	/* let div.meta grow with its content */
	position:relative;
	overflow:hidden;
	padding: 0.15em 75px 0.15em 0.5em;
	background-color: white;
	margin: 0;
}
.fieldset.href ~ .fieldset:not(last-child) {
	display:none;
}
.fieldset.href .field.href .icon.items > .item > .content > .meta {
	display: none;
}
.field.href .items > .item > .content > .meta > .line {
	display:inline-block;
	font-family:sans-serif;
	font-size:0.7em;
	line-height:1em;
	margin-top:0.15em;
}

.field.href .items > a.item > .content > .header {
	color: #444;
	background-color: #EEE;
	padding-right: 1.7em;
	border-top: 1px solid #ccc;
}

.field.href .items > .item > .content > .thumbnail {
	display:flex;
	align-items: center;
	justify-content: center;
	position:absolute;
	right:0;
	width:80px;
	height:3.33em;
	overflow:hidden;
}
.fieldset.href .field.href .icon.items > a.item > .content > .header {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 0.25em;
}
.fieldset.href .field.href .icon.items > .item > .content > .thumbnail {
	position: relative;
	width: 100%;
}

.field.href .items > .item.selected > .content > .header,
.field.href.page-href .items > .item:hover > .content > .header {
	background-color: #4165A0;
	color:white;
}

.field.href .items {
	margin: 0.5em 0 0;
	display: flex;
	flex-direction: column;
	width:100%;
}

.field.href .items > .item {
	margin: 0;
	box-shadow: 2px 1px 3px 0px #CCC;
	background: white;
	margin-bottom: 4px;
	order:2;
}
.field.href .items > .item.selected {
	order:1;
}

.field.href .items:empty {
	display:none;
}
.field.href .items + .pager {
	display:none;
}
.field.href .items + .pager.active {
	display: block;
	width: 100%;
	border-top: 5px solid #DDD;
	margin-top: -0.8em;
	padding-bottom: 0.5em;
}

.field.href .search + .buttons > .button:first-child {
	margin-right:0;
	border-top-left-radius:0 !important;
	border-bottom-left-radius:0 !important;
}

.field.href .search + .buttons > .button + .button {
	opacity:0.95;
}

.field.href .search + .buttons > .button + .button + .button {
	opacity:0.9;
}

.field.href .search {
	width:100%; /* this fixes the default size of 20 chars */
	border-top-right-radius:0 !important;
	border-bottom-right-radius:0 !important;
}

.fieldset.href > :not(.href),
fieldset.href > :not(.href, legend) {
	display:none !important;
}

.field.href > .items.icon .content img {
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
	flex: 0;
}

#form .field.href input[type="text"] {
	width: auto;
}
