#pageboard-read {
	position:absolute;
	left:0;
	right:30%;
	top:0;
	bottom:0;
	background-color:#EEE;
}
#pageboard-read > iframe {
	border:0;
	width:100%;
	height:100%;
	display:block;
}
#pageboard-write {
	position:absolute;
	left:70%;
	right:0;
	top:0;
	bottom:0;
}
#pageboard-write.ui.basic.segment {
	margin-top:0;
}

#breadcrumb:empty {
	display:none;
}
.ui.menu {
	flex-wrap:wrap;
}
.ui.menu .item > img:not(.ui) {
	width:1.5em;
}
.ui.menu .item:before {
	display:none;
}
.ui.menu .divider {
	width:1px;
	background-color:#353535;
}
.ui.icon.menu .item.disabled {
	/* opacity:0.45; */
	display:none;
}
/* keep menu size */
.ui.icon.menu .item.disabled:first-child {
	display:block;
	opacity:0.45;
}
.ui.icon.menu .item.disabled, .ui.icon.menu .item.disabled:hover {
	color:inherit;
}

#menu:empty {
	display:none;
}
#menu {
	border:1px solid gray;
	margin:1em 0;
}

.ui.range {
	height:auto;
	padding: 0.67857143em 1em; /* this is the padding value of .field */
}
