element-query {
	display:block;
	position:relative;
}

element-query > [block-content="template"] {
	display:none;
}

[contenteditable] element-query > [block-content="template"] {
	display:block;
}

[contenteditable] element-query > [block-content="view"] {
	display:none;
}

[block-id][block-type="query_template"]:before {
	content:'[';
}
[block-id][block-type="query_template"]:after {
	content:']';
}

element-query-tags {
	display:block;
}
element-query-tags > div {
	display:inline-block;
}
