#form fieldset.crop {
	position:relative;
}
#form fieldset.crop > .fields {
	display:none !important;
}
#form fieldset.crop > .crop {
	position:relative;
	width:100%;
	padding-top:100%;
	margin-bottom:2.3em;
}
#form fieldset.crop > .crop > .croppie-container {
	position:absolute;
	top:0;
}
#form fieldset.crop > .button {
	position: absolute;
	right: 0.7em;
	bottom: 0.7em;
	padding: 0.6em;
}

.croppie-container .cr-slider-wrap {
	margin:0.7em 0.2em;
}
