.field.href .ui.avatar.icon.image {
	width:1.2em;
	height:1.2em;
}

.field.href .items .button.circular {
	visibility:hidden; /* so .item height won't change when .button is shown */
	padding:0.2em;
	color:#4165A0;
	border-color:#4165A0;
	background:transparent;
}

.field.href .items .pinned.right {
	position:absolute;
	right:1px;
	margin-right:0;
}

.field.href .items > .item:hover .button.circular,
.field.href .items > .item:focus .button.circular {
	visibility:visible;
}

.field.href .items > .item.selected > .content .button.circular {
	color: white;
	visibility: visible;
}

.field.href .items.icon {
	display:flex;
	flex-wrap:wrap;
}
.field.href .items.icon > .item {
	flex: 1;
	width:31%;
}

.field.href .items > .item > .content {
	position:relative; /* for positioning the absolute icon on the right */
	max-width:100%;
	max-height:7em;
	border-top:1px solid #999;
	overflow:hidden;
}

.field.href .items > .item > .content > .header {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #777;
	display:block;
	padding: 0.2em 0.3em;
	margin:0;
}

.field.href .items > .item > .content > .meta {
	margin-top:0.15em;
	margin-bottom:0.15em;
	padding-left:2em;
	/* let div.meta grow with its content */
	position:relative;
	overflow:hidden;
}

.field.href .items > a.item > .content > .header {
	color:#555;
	border-bottom:1px solid #999;
	padding-right:1.7em; /* leave space for pinned right button */
}

.field.href .items > .item > .content .right.floated.image {
	margin-bottom:0;
	position:absolute;
	right:0;
}


.field.href .items > .item.selected > .content > .header {
	background-color: #4165A0;
	border-bottom:1px solid #4165A0;
	color:white;
}

.field.href .items {
	box-shadow:inset 0px 0px 200px #DDD, 0px -18px 90px #CCC;
}

.field.href .items > .item {
	margin:0;
	box-shadow:2px 2px 1px #CCC;
}

.field.href .items:empty {
	display:none;
}

.field.href input:not(.search) {
	display:none !important;
}

.field.href .search + .buttons > .button:first-child {
	margin-right:0;
	border-top-left-radius:0 !important;
	border-bottom-left-radius:0 !important;
}

.field.href .search + .buttons > .button + .button {
	opacity:0.95;
}

.field.href .search + .buttons > .button + .button + .button {
	opacity:0.9;
}

.field.href .search {
	width:100%; /* this fixes the default size of 20 chars */
	border-top-right-radius:0 !important;
	border-bottom-right-radius:0 !important;
}
