#menu > .menu:empty {
	display:none;
}

#menu {
	margin:1em 0;
}

.ui.menu {
	flex-wrap:wrap;
}
#menu > .ui.tabular.mini.menu {
	min-height:2.4em;
}
#menu > .ui.tabular.mini.menu > .item {
	padding:0 0.8em;
}
#menu > .ui.tab.menu.active {
	display:flex;
}
#menu > .ui.attached.tab.menu {
	margin:0;
}
#menu .item > img:not(.ui) {
	width:1.5em;
}
#menu .item:before {
	display:none;
}
#menu .divider {
	width:1px;
	background-color:#353535;
}
#menu .item.disabled {
	/* opacity:0.45; */
	display:none;
}

.ui.icon.menu > .item.radio.checkbox > input,
.ui.icon.menu > .item.radio.checkbox > label:before,
.ui.icon.menu > .item.radio.checkbox > label:after {
	display:none;
}
.ui.icon.menu > .item.radio.checkbox > label {
	padding-left:0;
}
.ui.icon.menu > .item.radio.checkbox.checked {
	background:#EEE;
}

#select-menu .item.disabled {
	opacity:0.45;
}
.ui.menu > .item.disabled,
.ui.menu > .item.disabled:hover {
	color:inherit;
	cursor:pointer;
}

.ui.compact.icon.menu > .ui.radio.checkbox.item {
	padding: 0.7em;
}

#select-menu > .right.menu > .item {
	padding: 0 1em;
}

