#menu > .menu:empty {
	display:none;
}

#menu {
	margin:1em 0;
}

.ui.menu {
	flex-wrap:wrap;
}
#menu .item > img:not(.ui) {
	width:1.5em;
}
#menu .item:before {
	display:none;
}
#menu .divider {
	width:1px;
	background-color:#353535;
}
#menu .item.disabled {
	/* opacity:0.45; */
	display:none;
}
#menu .item.disabled,
#menu .item.disabled:hover {
	color:inherit;
}

.ui.icon.menu > .item.radio.checkbox > input,
.ui.icon.menu > .item.radio.checkbox > label:before,
.ui.icon.menu > .item.radio.checkbox > label:after {
	display:none;
}
.ui.icon.menu > .item.radio.checkbox > label {
	padding-left:0;
}
.ui.icon.menu > .item.radio.checkbox.checked {
	background:#EEE;
}
