#menu > .menu:empty {
	display:none;
}

#menu {
	margin:1em 0;
}

#menu > .menu {
	flex-wrap:wrap;
}
#menu .item > img:not(.ui) {
	width:1.5em;
}
#menu .item:before {
	display:none;
}
#menu .divider {
	width:1px;
	background-color:#353535;
}
#menu .item.disabled {
	/* opacity:0.45; */
	display:none;
}
#menu .item.disabled,
#menu .item.disabled:hover {
	color:inherit;
}

