@import "/public/pageboard/pagecut/pagecut.css";

.ProseMirror {
	white-space:normal;
}

.ProseMirror-selectednode {
	outline: 2px solid #61A3E4 !important;
	outline-offset:-2px !important;
	cursor:pointer !important;
}

[block-focused="last"] {
	outline: 1px solid #888;
	outline-offset:-1px;
}

*::selection {
	color:inherit;
}
