@import "/.pageboard/pagecut/pagecut.css";

.ProseMirror {
	white-space:normal;
}

/* replaced elements cannot have pseudo elements,
 * that is why we must define is for both cases */
.ProseMirror .ProseMirror-selectednode {
	outline: 1px solid #61A3E4 !important;
	outline-offset: 0px !important;
	cursor: pointer !important;
	box-shadow: 0px 0px 0px 1px #61A3E4 !important;
	cursor:pointer !important;
}
.ProseMirror .ProseMirror-selectednode:not(img) {
	min-width:1em;
	min-height:1em;
}

/* replaced elements cannot have pseudo elements,
 * that is why we must define is for both cases */
.ProseMirror [block-focused="last"] {
	outline: 1px dashed #888;
	outline-offset:-1px;
}
.ProseMirror [block-focused="last"]:not(img) {
	min-width:1em;
	min-height:1em;
}
.ProseMirror *::selection {
	color:inherit;
}

body.ProseMirror p > br:only-child {
	content: '.';
	display:inline-block;
	background-color:#F0F0F0;
	width:100%;
	height:1em;
}

.ProseMirror .ui.buttons .disabled.button,
.ProseMirror .ui.disabled.button,
.ProseMirror .ui.button:disabled,
.ProseMirror .ui.disabled.button:hover,
.ProseMirror .ui.disabled.active.button {
	pointer-events: auto !important;
}

.ProseMirror .ui.form[block-focused] .ui.message {
	display:block;
}

.ProseMirror [block-type="query"][block-focused] .ui.message {
	display:block !important;
}

.ProseMirror .ui.form[block-focused] input[type="hidden"] {
	display:block;
}

.ProseMirror .ui.dropdown[block-focused] > .menu {
	overflow: visible;
	width: auto;
	height: auto;
	top: 100% !important;
	opacity: 1;
}

.ProseMirror .field[block-focused] .dropdown > .menu {
	display: block !important;
}
