html,
body {
	height: 100%;
}
html {
	font-size: 14px;
}
body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	min-width: 320px;
	background: #FFFFFF;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0, 0, 0, 0.87);
	font-smoothing: antialiased;
}

[hidden] {
	display:none !important;
}

#pageboard-read {
	width:70%;
	height:100%;
	box-shadow:0 0 1em grey;
}
#pageboard-read > iframe {
	border:0;
	width:100%;
	height:100%;
	display:block;
	overflow:auto;
}
#pageboard-write {
	position:absolute;
	top:0;
	bottom:0;
	left:70%;
	right:0;
	margin-top:0 !important;
	padding-top:0 !important;
	overflow:auto;
}
#notifications:empty {
	display:none;
}
#notifications {
	max-height:66%;
}
#notifications .message:nth-last-child(n+4) {
	display:none;
}
#notifications .message > p {
	display:none;
}
#notifications .message:last-child > p {
	display:block;
}
#breadcrumb:empty {
	display:none;
}
#breadcrumb {
	line-height:1.4; /* prettier multiple lines */
}
#form {
	margin-top:1em;
}

.wide {
	margin-top:0 !important;
	margin-left:-1rem !important;
	margin-right:-1rem !important;
	margin-bottom:1rem;
}
.wide.bottom {
	margin-bottom:0.1rem;
	width:100%;
}

.ui .left.icon {
	left:0;
	right:auto;
}

.ui.range {
	height:auto;
	padding: 0.67857143em 1em; /* this is the padding value of .field */
}

