html,
body {
	height: 100%;
}

[hidden] {
	display:none !important;
}

body {
	display:flex;
}

#pageboard-read {
	flex: 0 1 auto;
	box-shadow:0 0 1em grey;
}
#pageboard-read > iframe {
	border:0;
	width:70vw;
	min-width:320px;
	max-width:99vw;
	height:100%;
	display:block;
	overflow:auto;
	resize:horizontal;
}
#pageboard-write {
	flex: 1 1 auto;
	min-width:300px;
	margin-top:0 !important;
	padding-top:0 !important;
	overflow:auto;
}
#pageboard-write.loading > [id] {
	display:none;
}
.notifications:empty {
	display:none;
}
.notifications {
	max-height:66%;
	margin-bottom:0;
	padding-left:0.1rem;
	padding-right:0.1rem;
}
.notifications .message:nth-last-child(n+4) {
	display:none;
}
.notifications .message > p {
	display:none;
}
.notifications .message:last-child > p {
	display:block;
}
#pageboard-read > .notifications.wide {
	margin-left:0 !important;
	margin-right:0 !important;
}
#breadcrumb:empty {
	display:none;
}
#breadcrumb {
	line-height:1.4; /* prettier multiple lines */
}
#form {
	margin-top:1em;
	padding-left:0.5em;
	padding-right:0.5em;
}

.wide {
	margin-top:0 !important;
	margin-left:-1rem !important;
	margin-right:-1rem !important;
	margin-bottom:1rem;
}
.wide.bottom {
	margin-bottom:0.1rem;
	width:100%;
}

.ui .left.icon {
	left:0;
	right:auto;
}

.ui.range {
	height:auto;
	padding: 0.67857143em 1em; /* this is the padding value of .field */
}

#form fieldset {
	margin-top:0.5em;
	margin-bottom:0.5em;
	padding-top:0;
	padding-bottom:0.5em;
}
#form fieldset > label {
	display:block;
	font-style:italic;
	font-size:0.9em;
}
#form fieldset > .inline.fields:last-child {
	margin-bottom:0em;
}

#form .inline.fields .field {
	padding:0;
	text-align:right;
}

#form .inline.fields .field > .radio {
	margin:0em 0.85714286em 0em 0em;
}

#form .ui.radio.checkbox .box,
#form .ui.radio.checkbox label {
	padding-left:1.65714em;
}

#form .ui.icon.menu .ui.item.radio.checkbox label {
	padding-left:0;
}

#form .inline.field,
#form .inline.fields {
	justify-content:space-between;
}
#form .ui.toggle.checkbox {
	vertical-align:middle;
}
#form .ui.toggle.checkbox .box,
#form .ui.toggle.checkbox label {
	padding-left:2.3em; /* compensate absolute inner width, see below */
}

#form .ui.toggle.checkbox .box:hover::before,
#form .ui.toggle.checkbox label:hover::before {
	background-color: rgba(0, 0, 0, 0.4);
}
#form .ui.toggle.checkbox .box:before,
#form .ui.toggle.checkbox label:before {
	background-color: rgba(0, 0, 0, 0.2);
	top:0.25rem;
	width:2.3rem;
	height:1rem;
}

#form .ui.toggle.checkbox input ~ .box:after,
#form .ui.toggle.checkbox input ~ label:after,
#form .ui.toggle.checkbox input:checked ~ .box:after,
#form .ui.toggle.checkbox input:checked ~ label:after {
	box-shadow:rgba(34, 36, 38, 0.15) 0px 1px 2px 0px,
		rgba(34, 36, 38, 0.15) 0px 0px 0px 1px inset;
}
#form .ui.toggle.checkbox input:checked ~ .box:after,
#form .ui.toggle.checkbox input:checked ~ label:after {
	left:0.8rem;
}

#form input[type="number"] {
	padding:0.5em;
}
