fieldset.plain {
	border-width:0;
	padding-right:0;
	padding-left:0;
}

textarea::selection,
input::selection {
	background-color: rgb(100 100 100 / 40%);
	color: rgb(0 0 0 / 87%);
}

label[for] {
	cursor: pointer !important;
	user-select: none;
}

element-select.active {
	z-index:1;
}
element-select.active.ui.dropdown .menu {
	display:block;
}

.inline.fields element-select {
	vertical-align: middle;
}

[contenteditable] .ui.form .field.hidden {
	display: block !important;
}
.ui.form {
	width: 100%;
}
.layout > .ui.form {
	width: auto;
}
.ui.form .inline.fluid.fields {
	width:100%;
	column-gap: 1em;
	padding:0 1em;
}
.ui.form .inline.fluid.fields > .field {
	margin:0;
	padding:0;
	flex: 1 1 auto;
	position:relative;
}

.ui.form .inline.fields {
	align-items: end;
	margin:0;
}

.ui.form[method="post"].unsaved button[type="submit"] {
	text-decoration:underline;
}

[contenteditable] form[hidden] {
	display: block !important;
	opacity:0.5;
}

.ui.form .field :disabled {
	pointer-events:initial;
}
.ui.form .layout > .field {
	margin:0;
}
