fieldset.plain {
	border-width:0;
	padding-right:0;
	padding-left:0;
}

textarea::selection,
input::selection {
	background-color: rgb(100 100 100 / 40%);
	color: rgb(0 0 0 / 87%);
}

label[for] {
	cursor: pointer !important;
	user-select: none;
}

element-select {
	z-index:1; /* or else dropdown menu goes under what's next */
}

[contenteditable] .ui.form .field.hidden {
	display: block !important;
}
.ui.form {
	width: 100%;
}
.ui.form .inline.fluid.fields {
	width:100%;
	column-gap: 1em;
	padding:0 1em;
}
.ui.form .inline.fluid.fields > .field {
	margin:0;
	padding:0;
	flex: 1 0 auto;
	position:relative;
}

.ui.form[method="post"]:not(.unsaved,:hover) button[type="submit"] {
	opacity:0.2;
}
