.field.button > .radio > input {
	display:none;
}
.field.button > .radio > input + label {
	opacity: 0.5;
	padding: 0.5em;
	display: block;
	position: relative;
	border: 1px solid gray;
	border-radius: 4px;
	text-align: center;
}
.field.button > .radio > input + label:hover {
	opacity:1;
}
.field.button > .radio > input:checked + label {
	opacity:1;
	font-weight: bold;
}
