input[is="element-input-range"] {
	display:none;
}
input[is="element-input-range"] + .noUi-target .noUi-handle {
	width:20px;
	height:20px;
	border-radius:100px;
	right:-10px !important;
	top:0;
}
input[is="element-input-range"] + .noUi-target .noUi-handle::before,
input[is="element-input-range"] + .noUi-target .noUi-handle::after {
	content:none;
}
input[is="element-input-range"] + .noUi-target.noUi-horizontal {
	height:20px;
	border:none;
	box-shadow:none;
	background:none;
}
input[is="element-input-range"] + .noUi-target.noUi-horizontal .noUi-base {
	background: none;
	border:none;
	box-shadow: none;
	padding:8px 0;
}
input[is="element-input-range"] + .noUi-target.noUi-horizontal .noUi-connects {
	border:1px solid #aaa;
	border-radius:2px;
}

