.layout {
	display:flex;
	flex: 0 0 auto;
	position:relative;

	&.overlay {
		position:absolute;
		&.block-start {
			top: 0;
		}
		&.block-end {
			bottom: 0;
		}
		&.inline-start {
			left: 0;
		}
		&.inline-end {
			right: 0;
		}
	}

	&.ui.container {
		flex: 1 0 auto;
	}

	&.wrap {
		flex-wrap:wrap;
	}

	&.wrap-reverse {
		flex-wrap:wrap-reverse;
	}

	&.column {
		flex-direction: column;
		align-items:stretch;
	}

	&.top {
		align-items: flex-start;
	}
	&.vcenter {
		align-items: center;
	}
	&.vbaseline {
		align-items: baseline;
	}
	&.vstretch {
		align-items: stretch;
	}
	&.bottom {
		align-items: flex-end;
	}
	&.left {
		justify-content: flex-start;
	}
	&.hcenter {
		justify-content: center;
	}
	&.hbetween {
		justify-content: space-between;
	}
	&.haround {
		justify-content: space-around;
	}
	&.right {
		justify-content: flex-end;
	}

	&.column {
		> img, &.left > img {
			align-self:flex-start;
		}
		&.hcenter > img {
			align-self:center;
		}
		&.right > img {
			align-self:flex-end;
		}
	}

	&.fullwidth {
		width:100%;
	}

	&.inverted {
		background: rgb(0 0 0 / 80%);

		p {
			color: white;
		}
	}
}
