[data-loading="lazy"]::after {
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
	text-align:center;
}

.loading[data-loading="lazy"]::after {
	content: '';
	border: 3px solid #ccc;
	border-top-color: #aaa;
	animation: element-image-spinner 1s linear infinite;
}

.error[data-loading="lazy"]::after {
	content: '';
	border: 3px solid #faa;
}

.waiting[data-loading="lazy"]::after {
	content: '?';
}

.denied[data-loading="lazy"]::after {
	content: '!';
}

