[data-src]::after {
	display:none;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
	text-align:center;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.loading[data-src]::after {
	display:block;
	content: '';
	border: 3px solid #ccc;
	border-top-color: #aaa;
	animation: spinner 1s linear infinite;
}

.error[data-src]::after {
	display: block;
	content: '';
	border: 3px solid red;
	background: black;
}

.waiting[data-src]::after {
	display:block;
	content: '?';
}

.denied[data-src]::after {
	display:block;
	content: '!';
}

