[data-src]::after {
	display:none;
	box-sizing: border-box;
	position: absolute;
	line-height:100%;
	text-align:center;
	color:#aaa;
	font-size:1.4rem;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.loading[data-src]::after {
	display:block;
	animation: dots 5s linear infinite;
	content:'';
}

.error[data-src]::after {
	display: block;
	content: '❌';
}

.waiting[data-src]::after {
	display:block;
	content: '?';
}

.denied[data-src]::after {
	display:block;
	content: '!';
}

.error[data-src],
.waiting[data-src],
.denied[data-src] {
	outline:#aaa solid 1px;
}

@keyframes dots {
	0% {
		opacity:0;
		content: '⚫';
	}
	33% {
		opacity:1;
		content: '⚫';
	}
	66% {
		content: '⚫⚫';
	}
	100% {
		content: '⚫⚫⚫';
	}
}