/* semantic-ui fixes */
.ui.menu:not(.vertical) .right.item.dropdown,
.ui.menu:not(.vertical) .right.item.popup {
	margin-left: 0 !important;
}
.dropdown.item > .menu > .item .ui.image {
	max-width:none; /* workaround image width not being accounted for */
}
.ui.simple.dropdown:focus > .menu {
	overflow: visible;
	width: auto;
	height: auto;
	top: 100% !important;
	opacity: 1;
}

/* menu item with icon */
.item:focus > .caret-icon::before,
.item:hover > .caret-icon::before {
	transform:rotate(90deg);
}

/* menu_item_popup */
.popup.item > .placer {
	flex-basis: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.popup.item > .placer > div {
	display:none;
	position: absolute;
	z-index: 2000;
	left:0;
	right:auto;
	width: auto;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: min-content;
	background-color:white;
}
.popup.item:focus > .placer > div,
.popup.item:hover:not(.inactive) > .placer > div,
.popup.item[block-focused] > .placer > div {
	display: flex;
	flex-direction: column;
}
.right.burger .popup.item > .placer {
	left: 0;
	right:0;
}
.right.popup.item > .placer > div {
	left:auto;
	right:0;
}
.fixed.popup.item {
	position:static !important;
}
.fixed.popup.item > .placer > div {
	max-width: 100vw;
	margin-top: -1rem;
}
.center.popup.item > .placer > div {
	transform: translateX(-50%);
	right:auto;
}
.center.fixed.popup.item > .placer > div {
	left:50%;
	transform: translateX(-50%);
	right:auto;
}
.justify.popup.item > .placer,
.justify.popup.item > .placer > div {
	width:100%;
}
.right.popup.item > .placer {
	right:0;
}
.center.popup.item:not(.fixed) > .placer {
	left:50%;
}
.popup.item > .placer > div > .grid:first-of-type {
	margin: 0 !important;
}

/* menu_group */
element-menu {
	flex-shrink: 1;
}
.ui.menu:not(.vertical) > element-menu {
	margin-right: auto !important; /* crucial for burger width calc */
}
.ui.menu:not(.vertical) > element-menu.right {
	margin-right: 0 !important; /* crucial for burger width calc */
	margin-left: auto !important;
}
element-menu > .menu {
	position: relative;
}
element-menu > .items {
	display:flex;
}
element-menu.burger > .items {
	left:0;
	position: absolute;
	pointer-events: none;
	height: 0;
}
element-menu:not(.burger) > .item {
	display:none !important;
}

element-menu.burger .placer .title {
	width:100%;
}
element-menu.burger > .item .popup.item {
	display:block;
}
.ui.menu [block-type="menu_item_popup"] {
	position:initial !important;
}
element-menu.burger .placer .popup.active .title {
	margin-bottom:0.5em;
}
element-menu.burger > .items > * {
	visibility:hidden;
}
element-menu.burger .popup.item.active > .placer > div {
	display:block;
}
element-menu.burger .popup.item > .placer > div {
	left: 0 !important;
	right: 0 !important;
}
element-menu.burger > .item .dropdown.item:hover > .menu,
element-menu.burger > .item .popup.item:hover > .placer > div {
	display:none !important;
}
element-menu.burger > .item .dropdown.item.active > .menu {
	display:block !important;
	position:relative;
	left:0 !important;
	top: 0.5em !important;
}

element-menu.burger > .item .popup.item.active > .placer > div {
	display: block !important;
	position: relative;
}
element-menu.burger > .item:hover > .popup.item {
	display:block;
}
element-menu.burger > .item .placer .menu .ui.dropdown {
	flex-direction:column;
	align-items: flex-start;
}

element-menu.burger > .item .popup.item > .placer {
	position: relative;
}
element-menu.burger > .item .popup.item > .placer > div > .grid {
	border:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;
}
element-menu.burger > .popup > .icon {
	font-size: 1.6429rem;
	font-weight: bold;
	font-family: sans-serif;
}


@media screen and (max-width: 768px) {
	.ui.menu [block-type="menu_item_text"] {
		flex: 0 1 auto;
	}
}

.ui.menu:not(.vertical) .labeled.item {
	flex-direction: column;
}
