.dropdown > .menu > .item .ui.image {
	max-width:none; /* workaround image width not being accounted for */
}

.ui.dropdown:hover > .caret-icon:before {
	transform:rotate(90deg);
}

[block-type="menu_item_popup"] {
	display: block !important;
	position: static !important;
}
[block-type="menu_item_popup"][hidden] {
	display: none !important;
}
[block-type="menu_item_popup"] > .popup {
	display:none;
	position: absolute;
	z-index: 1900;
	padding-top: 0.928571em;
	width:90%;
	left:5%;
	max-width:none;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	min-width: min-content;
}
[block-type="menu_item_popup"] > .fixed.popup {
	position: fixed;
	left: 0px;
	right:0px;
	width: auto;
	max-height:100%;
	overflow-y:auto;
	overflow-x: hidden;
}
[block-type="menu_item_popup"] > .fixed.popup > .ui.grid:first-of-type {
	margin-top:0;
}
[block-type="menu_item_popup"] > .fixed.popup > * {
	background-color:white;
}
[block-type="menu_item_popup"]:focus > .popup,
[block-type="menu_item_popup"]:hover > .popup,
[block-type="menu_item_popup"][block-focused] > .popup {
	display:block;
}

element-menu {
	position: relative;
}
element-menu:not(.responsive) > .tosser {
	display:none !important;
}
element-menu > .menu {
	position: relative;
}
element-menu > .menu > .tossed {
	visibility:hidden;
}

element-menu > .tosser {
	display: block !important;
	position: absolute !important;
	right: 0;
}
element-menu > .tosser.active > .menu {
	display: block !important;
}

element-menu > .ui.simple.dropdown > .menu > .item[block-type="menu_item_dropdown"]:hover > .menu,
element-menu > .simple.dropdown:hover [block-type="menu_item_popup"]:hover > .popup {
	display:none !important;
}
element-menu > .tosser .ui.dropdown:hover > .caret-icon:before {
	transform: rotate(0deg);
}
element-menu > .tosser .ui.dropdown.active > .caret-icon:before {
	transform: rotate(90deg);
}
element-menu > .ui.simple.dropdown > .menu > .item[block-type="menu_item_dropdown"].active > .menu {
	display:block !important;
	position:relative;
	left:0 !important;
	top: 0.5em !important;
}
element-menu > .simple.dropdown:hover [block-type="menu_item_popup"].active > .popup,
element-menu > .simple.dropdown.active [block-type="menu_item_popup"].active > .popup {
	display:block !important;
}
element-menu > .simple.dropdown:hover [block-type="menu_item_popup"] > .popup,
element-menu > .simple.dropdown.active [block-type="menu_item_popup"] > .popup {
	margin-top: 0.5em;
	position:relative;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0;
}
element-menu > .simple.dropdown:hover [block-type="menu_item_popup"] > .popup > [block-content] > .grid,
element-menu > .simple.dropdown.active [block-type="menu_item_popup"] > .popup > [block-content] > .grid {
	border:0 !important;
	margin-right:0em !important;
}
