/* semantic-ui fixes */
.ui.menu:not(.vertical) .right.item.dropdown {
	margin-left: 0 !important;
}
.dropdown.item > .menu > .item .ui.image {
	max-width:none; /* workaround image width not being accounted for */
}

/* menu item with icon */
.item:hover > .caret-icon:before {
	transform:rotate(90deg);
}

/* menu_item_popup */
.popup.item > .placer {
	flex-basis: 100%;
	position: absolute;
	bottom: 0;
}
.popup.item > .placer > div {
	display:none;
	position: absolute;
	z-index: 1900;
	width:90%;
	left:5%;
	max-width:none;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	min-width: min-content;
}
.popup.fixed.item > .placer > div {
	position: fixed;
	left: 0px;
	right:0px;
	width: auto;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.popup.item > .placer > div > .grid:first-of-type {
	margin: 0;
}
.popup.item > .placer > div {
	background-color:white;
}
.popup.item:focus > .placer > div,
.popup.item:hover > .placer > div,
.popup.item[block-focused] > .placer > div {
	display: flex;
	flex-direction: column;
}
.right.popup.item > .placer > div {
	left:auto;
	right:0;
}

element-menu.burger.right .popup.item > .placer > div {
	text-align: right;
}

/* menu_group */
element-menu {
	position: relative;
	flex-shrink: 1;
}
element-menu > [block-content="items"] {
	display:flex;
}
element-menu:not(.burger) > .item {
	display:none !important;
}
element-menu > .menu {
	position: relative;
}
element-menu.burger > [block-content="items"] {position: fixed;right: 0;}
element-menu.burger > [block-content="items"] > * {
	visibility:hidden;
}

element-menu.burger > .item .dropdown.item:hover > .menu,
element-menu.burger > .item .popup.item:hover > .placer > div {
	display:none !important;
}
element-menu.burger > .item .dropdown.item.active > .menu {
	display:block !important;
	position:relative;
	left:0 !important;
	top: 0.5em !important;
}
element-menu.burger .popup.item.active > .placer > div {
	display:block;
}
element-menu.burger > .item .popup.item.active > .placer > div {
	display:block !important;
	position:relative;
}
element-menu.burger > .item:hover > .popup.item {
	display:block;
}
element-menu.burger > .item .popup.item {
	display:block;
}
element-menu.burger > .item .popup.item > .placer {
	position:relative;
}
/* element-menu > .item:hover .popup.item > .placer > div,
element-menu > .item.active .popup.item > .placer > div {
	margin-top: 0.5em;
	position:relative;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0;
} */
element-menu.burger > .item .popup.item > .placer > div > .grid {
	border:0 !important;
	margin-right:0em !important;
}

element-menu.burger > .item .popup.item .ui.doubling.grid > .row > .column,
element-menu.burger > .item .popup.item .ui.doubling.grid > .column:not(.row),
element-menu.burger > .item .popup.item .ui.grid > .doubling.row.row > .column {
	width: auto !important;
}
element-menu.burger > .popup > .icon {
	font-size: 1.6429rem;
	font-weight: bold;
	font-family: sans-serif;
}