a[is="element-pagination"].disabled,
a[is="element-pagination"][data-infinite] {
	display: none !important;
}
[contenteditable] a[is="element-pagination"][data-infinite] {
	visibility: initial;
}
element-template > .pagination-helper {
	width:100%;
	height:0;
	visibility: hidden;
}
