element-select.ui.multiple.dropdown > .label > .icon {
	vertical-align: middle;
}
element-select.ui.multiple.dropdown > .label {
	vertical-align: baseline;
	line-height: inherit;
}
element-select[disabled] {
	pointer-events: none;
}

[contenteditable] .ui.dropdown[block-focused] > .menu {
	overflow: visible;
	width: auto;
	height: auto;
	top: 100% !important;
	opacity: 1;
}

[contenteditable] .field[block-focused] > .ui.dropdown {
	z-index:1;
}
[contenteditable] .field[block-focused] .dropdown > .menu {
	display: block !important;
}
