[block-type="sitemap"] {
	min-height:2em;
	position:relative;
	display: block;
	width: 100%;
}
[block-type="sitemap"] .caret-icon::before {
	right:auto;
	left:-0.8em;
}
.ui.list[block-type="sitemap"] {
	padding:0.5em;
	margin:0.5em;
	box-shadow: -1px 1px 2px 1px grey;
}

[block-type="sitemap"] .list > .item > .content {
	box-shadow: 0 1px 1px 1px grey;
	padding-right: 0.5em;
	padding-bottom:1px;
	margin-bottom: 0;
	min-height:1em;
}

[block-type="sitemap"] .list.content.active {
	margin-top:0;
	padding-bottom: 1em !important;
	margin-left: 1em;
	padding-top: 0 !important;
	margin-right: 1em;
}
.ui.accordion[block-type="sitemap"] .title > a,
.ui.accordion[block-type="sitemap"] .accordion .title > a {
	padding-left:1.25em;
}
element-sitepage {
	display:block;
	position: relative;
}
element-sitepage .title.caret-icon.active {
	padding-bottom:0 !important;
}
element-sitepage > .title > .label {
	float:right;
}

element-sitepage > .title > a.description {
	color: darkgrey;
}
element-sitepage > .title > a.redirection {
	color:dodgerblue;
}

