element-sticky,
header {
	display:block;
	z-index:1000;
	position: sticky;
	transition-duration: 0.4s;
}
element-sticky[data-position="top"],
header {
	top:0;
}
element-sticky[data-position="bottom"] {
	bottom:0;
}
element-sticky[data-collapsed="true"] {
	height:0;
}
header.collapsed {
	position:fixed;
	width:100%;
}
header.autohide:not([data-mode="start"]) {
	transition-property: transform;
}
header.autohide[data-mode="up"] {
	transition-delay: 0.1s;
	transform: translateY(0);
}
header.autohide[data-mode="down"] {
	transition-delay: 0.2s;
	transform: translateY(-100%);
}
