element-tabs {
	display:block;
	width: 100%;
}
.ui.tab.segment:not(.active) {
	display: none;
	height:0;
	overflow:hidden;
	margin:0;
}
element-tabs > .ui.tabular.menu + div[block-content="tabs"] > .segment {
	border-top: none;
	margin:0 0 1rem;
	width: 100%;
}

element-tabs .active[block-type="tab"] > pagecut-placeholder {
	display:block !important;
}
