/* async progress bar and error signal */

body::before {
	content: "";
	position:fixed;
	display:block;
	left:0;
	top:0px;
	width:0%;
	height:0;
	opacity:0.7;
	background: #4486cc;
	box-shadow: 0 0 5px rgb(99 162 235 / 70%);
	z-index:10000000;
}
html[data-stage] > body::before {
	transition-property:width;
	transition-duration:0.5s;
	transition-timing-function:linear;
}
html[data-stage="route"] > body::before,
html[data-stage="ready"] > body::before,
html[data-stage="paint"] > body::before,
html[data-stage="error"] > body::before {
	height:2px;
}

html[data-stage="route"] > body::before {
	width:25%;
}
html[data-stage="ready"] > body::before {
	width:50%;
}
html[data-stage="paint"] > body::before {
	width:100%;
}
html[data-stage="error"] > body::before {
	display:block;
	width:100%;
	background:#c33;
}

/* transitions */
html.transition {
	width:100%;
	height:100%;
	overflow: hidden;
}
html.transition > body {
	overflow:auto;
	height:100%;
}

html.transition > body + body,
html.transition > body[data-transition-close|="tr"]:first-of-type,
html.transition > body[data-transition-close] + body {
	position:absolute;
	height: 100%;
	width: 100%;
	display: block;
	top:0;
	left:0;
}

/* opening transitions */
html.transition > body + body {
	visibility:hidden;
}

html.transition > body + body[data-transition-open] {
	visibility:initial;
	z-index:1;
}

html.transition > body + body[data-transition-open] > *:not([block-type="main"]) {
	opacity:0;
}

html.transition > body + body[data-transition-open="tr-right"] {
	transform: translate3d(100%, 0, 0);
	transition: transform 1.5s ease-in;
}

html.transition > body + body[data-transition-open="tr-left"] {
	transform: translate3d(-100%, 0, 0);
	transition: transform 1.5s ease-in;
}

html.transition > body + body[data-transition-open="tr-top"] {
	transform: translate3d(0, -100%, 0);
	transition: transform 1.5s ease-in;
}

html.transition > body + body[data-transition-open="tr-bottom"] {
	transform: translate3d(0, 100%, 0);
	transition: transform 1.5s ease-in;
}

html.transition > body + body[data-transition-open="fade"] {
	opacity:0;
	transition: opacity 1.5s ease-in;
}

html.transition.transitioning > body + body[data-transition-open|="tr"] {
	transform: translate3d(0, 0, 0);
}
html.transition.transitioning > body + body[data-transition-open="fade"] {
	opacity:1;
}

/* closing transitions */
html.transition > body[data-transition-close|="tr"]:first-of-type {
	transform: translate3d(0, 0, 0);
	transition: transform 1.5s ease-in;
}

html.transition > body[data-transition-close="fade"]:first-of-type {
	z-index:1;
	opacity:1;
	transition: opacity 1.5s ease-in;
}

html.transition.transitioning > body[data-transition-close="tr-right"]:first-of-type {
	transform: translate3d(100%, 0, 0);
}

html.transition.transitioning > body[data-transition-close="tr-left"]:first-of-type {
	transform: translate3d(-100%, 0, 0);
}

html.transition.transitioning > body[data-transition-close="tr-top"]:first-of-type {
	transform: translate3d(0, -100%, 0);
}

html.transition.transitioning > body[data-transition-close="tr-bottom"]:first-of-type {
	transform: translate3d(0, 100%, 0);
}

html.transition.transitioning > body[data-transition-close="fade"]:first-of-type {
	opacity:0;
}

