table.charts-css:is(.area,.line) > tbody > tr:first-of-type {
	width: 0;
	flex-grow: 0;
}
table.charts-css:is(.area,.line) > tbody > tr:first-of-type > td {
	width: max-content;
}
table.charts-css:is(.area,.line) > tbody > tr:first-of-type > td::before {
	display: none;
}

table.charts-css.pie > tbody > tr > td > .data {
	--angle: calc(0.5turn * var(--start, 0) + 0.5turn * var(--end, 0));
	--offset: 50%;

	transform:
		rotate(var(--angle))
		translateY(calc(-1 * var(--offset)))
		rotate(calc(-1 * var(--angle)))
		translateY(var(--offset));
}

.charts-css {
	width:auto;
	flex: 1 0 auto;
	color:black;
}

.charts-css.legend:not(.legend-inline) {
	flex: 0 0 auto;
}
