element-input-date-time {
	display:block;
	position:relative;
}
element-input-date-time .controls {
	position: absolute;
	top: 0px;
	height:100%;
	right:0;
	font-family: monospace;
}
element-input-date-time .controls > * {
	display:inline-block;
	padding: 0.67857143em 1em;
	height: 100%;
	border:1px solid #777;
	background:#333;
	text-align:center;
}
element-input-date-time .controls > *:hover {
	background:black;
	color:white;
}
element-input-date-time .controls > .incr:after {
	content: '+';
}
element-input-date-time .controls > .decr:after {
	content: '-';
}

.ui.form element-input-date-time > input:not([type]),
.ui.form element-input-date-time > input[type="text"] {
	width: calc(100% - 2.8em);
}
