element-include,
element-template,
element-content {
	display:block;
	position:relative;
}

element-template > [block-content="template"] {
	display:none;
}

[contenteditable] element-template > [block-content="template"] {
	display:block;
	min-height:1em;
}

[contenteditable] element-template > .view {
	display:none;
}
[contenteditable] [block-id][block-type="binding"][data-label] {
	letter-spacing:-9999px;
	word-spacing:-9999px;
}
[contenteditable] [block-id][block-type="binding"][data-label]::after {
	content:"[" attr(data-label) "]";
	letter-spacing:normal;
	word-spacing:normal;
}
[contenteditable] div[block-type="content"] {
	min-height:1rem;
}

html:not([data-prerender]) > body {
	/* initial page load does not need to be shown */
	display:none;
}
