element-include,
element-template,
element-content {
	display:block;
	position:relative;
	width: 100%;
}

element-template > [block-content="template"] {
	display:none;
}

[contenteditable] element-template > [block-content="template"] {
	display:block;
	min-height:1em;
}

[contenteditable] [block-id][data-label]:is([block-type="binding"],[block-type="block_binding"]) {
	letter-spacing:-9999px;
	word-spacing:-9999px;
}
[contenteditable] [block-id][data-label]:is([block-type="binding"],[block-type="block_binding"])::after {
	content:"[" attr(data-label) "]";
	letter-spacing:normal;
	word-spacing:normal;
}
[contenteditable] div[block-type="content"] {
	min-height:1rem;
}
[block-type="block_binding"] {
	display: flex;
}

html:not([data-prerender]) > body {
	/* initial page load does not need to be shown */
	visibility:hidden;
}

element-template > .helper {
	width:100%;
	height:0;
	visibility: hidden;
}
